.animation-section {
    min-height: calc(100vh - 200px);
    position: relative;
    overflow: hidden;
}

.animation-container {
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: #0b0d17;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 2s infinite;
}

.star:nth-child(2) {
    animation-duration: 3s;
}

.star:nth-child(3) {
    animation-duration: 2.5s;
}

.star:nth-child(4) {
    animation-duration: 1.8s;
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.rocket {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: launch 6s infinite;
}

.rocket-body {
    font-size: 60px;
}

@keyframes launch {
    0% {
        bottom: 0;
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}